html{
    
    font-family: 'Noto Sans JP', sans-serif;
   
}

.pop{
    font-family: 'Poppins',sans-serif;}

.container{
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
/* ヘッダー */
header{
    padding: 27px 0;
}
.logo{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.04em;
}
.logo span{
    color: #80ba4a;
}
.header_menu li{
    margin-left: 40px;
}
.header_menu li {
    margin-left: 40px;
}
.header_menu li a {
    transition: .3s;
}
.header_menu li a:hover{
    color: #80ba4a;
    transition: .3s;
}

/* メイン */
#hero{
    background-image: url(../images/がきども.JPG
    );
    background-position: center;
    background-size: cover;
    height: 540px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    overflow: hidden;
}
#hero::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000000;
    position:absolute;
    top:0;
    left:0;
    opacity: 0.2;
    z-index: 1;
}
.hero_inner{
    z-index: 2;
    color: #ffffff;
    width: 100%;
    text-align: center;
}
.hero_inner p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.hero_inner h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* コンセプト */
#concept{
    margin-bottom: 120px;
}
.title{
    font-size: 20px;
    font-weight: 500;
    color: #80ba4a;
    margin-bottom: 40px;
}
#concept h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}
.concept-title {
  font-weight: bold; /* または bold */
}
.column-2{
    width: 48%;
}
.text{
    line-height: 2;
}
.concept-img{
    background-image: url(../images/yozayura.ss.jpeg);
    background-position: center;
    background-size: cover;
    height: 540px;
    border-radius: 20%;
}
.heading{
font-family:'Dancing Script', cursive;
font-size: 200px;
font-weight: 700;
color: #80ba4a;
opacity: 0.1;
position: absolute;
top: 0;
right: 0;
transform: translateY(-50%);
}

/* サービス */
#service{
margin-bottom: 120px;
}
.service_inner{
    margin-bottom: 40px;
    position: relative;
}
.column-40{
    width: 40%;
}
.column-55{
    width: 55%;
}
#service img{
    border-radius: 20px;
}
#service h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}
/* カンパニー */
#company{
    margin-bottom: 120px;
}
#company dl{
    max-width: 900px;
    margin-left: auto;
}
#company dt{
    width: 30%;
    padding: 48px 0;
    border-bottom: solid 1px #D2ECBA;
}
#company dd{
    width: 70%;
    padding: 48px 0;
    border-bottom: solid 1px #D2ECBA;
}


/* ボトム */
.column-a{
    background-image: url(../images/美女.JPG);
    background-position: center;
    background-size: cover;
    width: 24%;
    height: 540px;
    border-radius: 20%;
}

.column-b{
    background-image: url(../images/ボクシング.jpeg);
    background-position: center;
    background-size: cover;
    width: 24%;
    height: 540px;
    border-radius: 20%;
}

.column-c{
    background-image: url(../images/スタンド.JPG);
    background-position: center;
    background-size: cover;
    width: 24%;
    height: 540px;
    border-radius: 20%;
}

.column-d{
    background-image: url(../images/新生児.jpg);
    background-position: center;
    background-size: cover;
    width: 24%;
    height: 540px;
    border-radius: 20%;
}

/* フッター */
footer{
    text-align: center;
    margin: 90px 0;
}
.copyright{
    font-size: 12px;
    margin-top: 40px;
}